
body {
    background: var(--bg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

.container {
    max-width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.calendar-container {
    
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.calendar {
   
    background-color: rgb(255, 255, 255);
    flex: 2;
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.month-name {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.calendar-row {
    display: flex;
    justify-content: space-between;
}

.day-row {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
}

.day-cell {
    flex: 1;
    text-align: center;
}

.calendar-cell {
    flex: 1;
    text-align: center;
    padding: 0.5rem 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.calendar-cell:last-child {
    border-right: none;
}

.predetermined-date {
    background-color: rgb(187, 187, 241);
    cursor: pointer;
}

.predetermined-date:hover {
    background-color:rgb(157, 127, 217);
    color: white;
}

.disabled-date {
    background-color: #f0f0f0;
    color: #ccc;
    cursor: default;
}

.disabled-date:hover {
    background-color: #dcdcdc;
}

.time-slots {
    height: 300px;
    background-color: white;
    flex: 1.2;
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    overflow-y: auto;
}

.time-slot {
    margin-bottom: 0.5rem;
}

.submit-button {
    padding: 1rem 2rem;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

#userName {
    margin-left: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 1rem;
    font-size: 1rem;
}

.header{
    margin-top: 0;
    margin-left: 20px;
    padding-top: 20px;
  }

  .left {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    background-color: var(--purple-bg);
    color: white; 
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 0.5rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    font-size: 1rem; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.left:hover {
    background-color: rgb(157, 127, 217);
	color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}
a:hover{
	color: rgb(255, 255, 255);
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
}
button{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    background-color: var(--purple-bg);
    color: white; 
    padding: 0.5rem 1rem; 
    border: none; 
    border-radius: 0.5rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    font-size: 1rem; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
button:hover {
    background-color: rgb(157, 127, 217);
	color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

input[type="checkbox"] {

    cursor: pointer;
   
}

