.main {
    background: var(--bg);
}

.right-content {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    margin-bottom: 2rem;
}

.logo {
    width: 300px;
}

.logo-description {
    font-size: 1.5rem;
    text-align: center;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.profile-buttons button {
    width: 100%;
    max-width: 300px;
    height: 48px;
    border-radius: 6px;
    background-color: var(--blue-bg);
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.profile-buttons button:hover {
    background-color: darken(var(--blue-bg), 10%);
}