.main {
    background: var(--bg);
  }
  
  .right-content {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-container {
    margin-bottom: 2rem;
  }
  
  .logo {
    width: 300px;
  }
  
  .event-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
  
  .event-form input,
  .event-form textarea {
    width: 100%;
    height: 48px;
    border: var(--border);
    font-size: 20px;
    padding-left: 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
  }
  
  .event-form textarea {
    height: 96px;
    resize: none;
  }
  
  .create-event-btn {
    width: 100%;
    max-width: 300px;
    height: 48px;
    border-radius: 6px;
    background-color: var(--blue-bg);
    border: none;
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }
  
  .event-error {
    color: red;
    margin-top: 1rem;
  }
  